template(name="overviewProductInventory")
  .detail-wrapper
    span.denyInventory.icon-ok-6(class="{{isImport 'sale'}}")
    span Bán hàng trước, nhập tồn kho sau.

  .detail-wrapper
    span.allowInventory.icon-ok-6(class="{{isImport 'import'}}")
    span Nhập tồn kho ngay lúc này

  if getSession 'productManagementAllowInventory'
    .detail-wrapper
      each currentProduct.units
        if currentProduct.inventoryInitial
          form.form-inline: .form-group: .input-group
            .input-group-addon(style="width: 100px") {{importUnit.quality}}
            .input-group-addon(style="width: 100px") {{name}}
            .input-group-addon(style="width: 100px") {{momentFormat importUnit.expire "DD/MM/YYYY"}}
            .input-group-addon(style="width: 100px") Hết hạn
        else
          +overviewProductInventoryDetail this

template(name="overviewProductInventoryDetail")
  form.form-inline: .form-group: .input-group
    input.form-control.editable.dashed(data-toggle="tooltip" data-container="body" data-placement="right"
    placeholder="Số lượng" title="Số lượng" name="unitQuality" value="{{quality}}")
    .input-group-addon(style="width: 100px") {{name}}

    input.form-control.editable.dashed(data-toggle="tooltip" data-container="body" data-placement="right"
    placeholder="Ngày hết hạn" title="Ngày hết hạn"
    name="deliveryDate" binding="datePicker" todayHighlight="true" maxlength="20" tabindex="4")
    .input-group-addon(style="width: 100px") Hết hạn

template(name="overviewProductUnit")
  .detail-wrapper
    span.icon-ok-6(class="{{allowCreateUnit}}")
    span Thêm đơn vị tính cho {{name}}

    each currentProduct.units
      unless isBase
        +productUnitDetail this
    if isNotLimitUnit
      +productUnitCreateUnit this

  .detail-wrapper
    .productUnit-table-group.row
      each productUnitTables
        .col.col-sm-4.col-md-3.col-lg-2
          .package-block
            .title {{name}}
            .features(class="{{class}}")
              if isProduct
                li: span {{barcode}} :
                li: span {{saleQuality}} :
                li: span {{importPrice}} :
              else
                +productUnitTableDetail this

template(name="productUnitTableDetail")
  li: span {{barcode}}
  li: span {{formatNumber saleQuality}} VNĐ
  if isEditImportPrice
    li(style="padding-top: 4px; padding-bottom: 2px;")
      input.form-control.editable.dashed(name="editImportQuality" value="{{formatNumber importPrice}} VNĐ")
  else
    li: span {{formatNumber importPrice}} VNĐ


template(name="productUnitDetail")
  form.form-inline: .form-group
    .input-group
      input.form-control.editable.dashed(data-toggle="tooltip" data-container="body" data-placement="right"
      placeholder="tên đơn vị tính" title="Tên đơn vị tính" value="{{name}}" name="productUnitName")

      .input-group-addon(data-toggle="tooltip" data-container="body" data-placement="right" title="Quy cách") =

      if allowDelete
        input.form-control.editable.dashed(data-toggle="tooltip" data-container="body" data-placement="right"
        placeholder="tên đơn vị tính" title="Quy cánh" value="{{conversion}}" name="productUnitConversion")
      else
        .input-group-addon(style="width: 207px") {{conversion}}

      .input-group-addon {{currentProduct.unitName}}

    if allowDelete
      .lemon.rounded.btn.blue.icon-minus-4.deleteProductUnit



template(name="productUnitCreateUnit")
  form.form-inline: .form-group
    .input-group
      input.form-control.editable.dashed(data-toggle="tooltip" data-container="body" data-placement="right"
      placeholder="tên đơn vị tính mới" title="Tên đơn vị tính mới" name="unitName")

      .input-group-addon(data-toggle="tooltip" data-container="body" data-placement="right" title="Quy cách") =

      input.form-control.editable.dashed(data-toggle="tooltip" data-container="body" data-placement="right"
      placeholder="số lượng quy đổi" title="Quy đổi" name="unitConversion")

      .input-group-addon {{currentProduct.unitName}}

    .lemon.rounded.btn.blue.icon-plus-6.addProductUnit